/* ================= font ===================== */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* ================ variables ================== */
:root {
  /* background gradient colors */
    --clr-1: hsl(273, 75%, 66%);
    --clr-2: hsl(240, 73%, 65%);
  /* colors in illustrations */
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-blue: hsl(238, 29%, 16%);
    --blue: hsl(240, 88%, 65%);
  /* font */
    --f-title: hsl(237, 12%, 33%);
    --f-text: hsl(240, 6%, 50%);
    --f-light-text: hsl(240, 6%, 70%);
    --ff-primary: 'Kumbh Sans', sans-serif;
    --f-size: 13px;
    /* divider-colour */
    --div-clr: hsl(240, 5%, 91%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-black: #000;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ==================== Global styles ======================= */
body {
    background-image: linear-gradient(var(--clr-1), var(--clr-2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--ff-primary);
    color: var(--f-text);
    font-size: var(--f-size);
}

h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    color: var(--clr-black);
}

main {
    margin-top: 2rem;
}

hr {
    border-style: none;
    background-color: lightgrey;
    height: .5px;
}

/* -------------- content-container ------------------- */
.container {
    width: 19rem;
    margin: 6rem auto 6rem;
    background-color: var(--clr-white);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #5f06b7;
    padding: 2rem;
}

/* =================== for larger screens ====================== */

@media screen and (min-width:1000px) {
    h1{
    text-align: left;
}

.container {
    width: 62%;
    margin: 7% auto 7%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.illustration-container {
    flex-basis: 50%;
    position: relative;
}

.box-img {
    content: url("images/illustration-box-desktop.svg");
    position: absolute;
    top: 243px;
    left: 119px;
    z-index: 1;
}

.woman-img {
    content: url("images/illustration-woman-online-desktop.svg");
    /* since already positioned absolute */
    top: 1.5rem;
    width: 25rem;
    transform: translate(-30%);
}

.platform-img {
    content: url("images/bg-pattern-desktop.svg");
    top: -5px;
        /* guess right and left positioning doesnt work with flex */
    width: 32rem;
    transform: translate(-50%, -10%);
}

.question-container{
    flex-basis: 50%;
}
}

/* -------------------------illustrations---------------------- */
.illustration-container {
    position: relative;
    height: 4rem;
}

.woman-img {
    position: absolute;
    left: 17px;
    bottom: 10px;
}

.platform-img {
    position: absolute;
    left: 40px;
    bottom: 0px;
}

/* -------------------- question-container ------------------------ */
.question-container {
    height: 22rem;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.question-container::-webkit-scrollbar {
    display: none;
}
.question-title {
    position: relative;
    cursor: pointer;
}

.question-title p:hover {
    color: var(--very-dark-blue);
}

.show-text .question-title{
    font-weight: 700;
}

.question-btn {
    cursor: pointer;
    border: none;
    background-color: white;
    position: absolute;
    right: 0;
}

.show-text .question-btn {
    transform: rotate(180deg);
}

.question-text {
    display: none;
    color: var(--f-light-text);
    line-height: 1.2;
    margin-bottom: 1.3rem;
}

.show-text .question-text {
  /* to show hidden text */
    display: block;
}